openapi: 3.0.3
info:
  contact:
    email: engg@togai.com
  description: APIs for Togai App
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Togai Apis
  version: "1.0"
externalDocs:
  description: Find out more about Togai
  url: https://docs.togai.com/docs
servers:
- description: Api endpoint
  url: https://api.togai.com/
- description: Sandbox api endpoint
  url: https://sandbox-api.togai.com/
security:
- bearerAuth: []
tags:
- description: Customer level calls
  name: Customers
- description: Account level calls
  name: Accounts
- description: Event Schema level calls
  name: Event Schemas
- description: Usage Meter level calls
  name: Usage Meters
- description: Price Plan level calls
  name: Price Plans
- description: Settings
  name: Settings
- description: Price Experimentation apis
  name: Price Experimentation
- description: APIs for getting events ingested in Togai
  externalDocs:
    description: docs
    url: https://togai.com/docs/billing/events
  name: Event Management
- description: APIs for getting Togai metrics
  externalDocs:
    description: docs
    url: https://togai.com/docs/metrics
  name: Metrics
- description: Invoices API
  name: Invoices
- description: Credits API
  name: Credits
paths:
  /customers:
    get:
      description: Returns a list of customers with pagination and sort.
      operationId: getCustomers
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: eyJsYXN0SXRlbUlkIjogInN0cmluZyIsICJwYWdlU2l6ZSI6IDEwMCwgInNvcnRPcmRlciI6ICJhc2MifQ==
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: 10
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                CustomerPaginatedResponse:
                  $ref: '#/components/examples/CustomerPaginatedResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/CustomerPaginatedResponse'
          description: Response for list customers request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List customers
      tags:
      - Customers
      x-accepts: application/json
    post:
      description: This API let’s you to create customers and corresponding accounts.
      operationId: createCustomer
      requestBody:
        $ref: '#/components/requestBodies/CreateCustomerRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                CreateCustomerResponse:
                  $ref: '#/components/examples/CreateCustomerResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/CreateCustomerResponse'
          description: Response for Create customer request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Create a customer
      tags:
      - Customers
      x-content-type: application/json
      x-accepts: application/json
  /customers/{customer_id}:
    delete:
      description: This API let’s you to delete a customer using customer_id.
      operationId: deleteCustomer
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        in: path
        name: customer_id
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Delete a customer
      tags:
      - Customers
      x-accepts: application/json
    get:
      description: Get customer information using customer_id.
      operationId: getCustomer
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        in: path
        name: customer_id
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Customer'
                  value: null
              schema:
                $ref: '#/components/schemas/Customer'
          description: Response for Get customer requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Get a customer
      tags:
      - Customers
      x-accepts: application/json
    patch:
      description: This API let’s you to update a customer’s information using customer_id.
      operationId: updateCustomer
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        in: path
        name: customer_id
        required: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateCustomerRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Customer'
                  value: null
              schema:
                $ref: '#/components/schemas/Customer'
          description: Response for Get customer requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Update a customer
      tags:
      - Customers
      x-content-type: application/json
      x-accepts: application/json
  /accounts:
    get:
      description: Returns a list of accounts of a customer with pagination and sort.
      operationId: getAccounts
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: eyJsYXN0SXRlbUlkIjogInN0cmluZyIsICJwYWdlU2l6ZSI6IDEwMCwgInNvcnRPcmRlciI6ICJhc2MifQ==
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: 10
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                AccountPaginatedResponse:
                  $ref: '#/components/examples/AccountPaginatedResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/AccountPaginatedResponse'
          description: Response for list customers request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List accounts of customer
      tags:
      - Accounts
      x-accepts: application/json
    post:
      description: This API let’s you to create an account for a customer using customer_id.
      operationId: createAccount
      requestBody:
        $ref: '#/components/requestBodies/CreateAccountRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Account'
                  value: null
              schema:
                $ref: '#/components/schemas/Account'
          description: Response for Create and Get account requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Create an account
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{account_id}:
    delete:
      description: This API let’s you to delete a customer using customer_id and account_id.
      operationId: deleteAccount
      parameters:
      - content:
          application/json:
            schema:
              example: ACC00001
              maxLength: 50
              type: string
        description: account_id corresponding to an account
        in: path
        name: account_id
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Delete an account
      tags:
      - Accounts
      x-accepts: application/json
    get:
      description: Get account information using customer_id and account_id.
      operationId: getAccount
      parameters:
      - content:
          application/json:
            schema:
              example: ACC00001
              maxLength: 50
              type: string
        description: account_id corresponding to an account
        in: path
        name: account_id
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Account'
                  value: null
              schema:
                $ref: '#/components/schemas/Account'
          description: Response for Create and Get account requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Get an account
      tags:
      - Accounts
      x-accepts: application/json
    patch:
      description: This API let’s you to update an account’s information using customer_id
        and account_id.
      operationId: updateAccount
      parameters:
      - content:
          application/json:
            schema:
              example: ACC00001
              maxLength: 50
              type: string
        description: account_id corresponding to an account
        in: path
        name: account_id
        required: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateAccountRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Account'
                  value: null
              schema:
                $ref: '#/components/schemas/Account'
          description: Response for Create and Get account requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Update an account
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{account_id}/add_aliases:
    post:
      description: Add aliases to an account using customer_id and account_id.
      operationId: addAliases
      parameters:
      - content:
          application/json:
            schema:
              example: ACC00001
              maxLength: 50
              type: string
        description: account_id corresponding to an account
        in: path
        name: account_id
        required: true
      requestBody:
        $ref: '#/components/requestBodies/AddAccountAliasesRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Account'
                  value: null
              schema:
                $ref: '#/components/schemas/Account'
          description: Response for Create and Get account requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Add Aliases to account
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{account_id}/remove_aliases:
    post:
      description: Remove existing aliases tagged to an account using this API
      operationId: removeAliases
      parameters:
      - content:
          application/json:
            schema:
              example: ACC00001
              maxLength: 50
              type: string
        description: account_id corresponding to an account
        in: path
        name: account_id
        required: true
      requestBody:
        $ref: '#/components/requestBodies/RemoveAccountAliasesRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Account'
                  value: null
              schema:
                $ref: '#/components/schemas/Account'
          description: Response for Create and Get account requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Remove Aliases to account
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{account_id}/price_plans:
    post:
      description: This API let’s you to detach/attach a price plan from/to an existing
        account
      operationId: updatePricingSchedule
      parameters:
      - content:
          application/json:
            schema:
              example: ACC00001
              maxLength: 50
              type: string
        description: account_id corresponding to an account
        in: path
        name: account_id
        required: true
      requestBody:
        $ref: '#/components/requestBodies/UpdatePricingScheduleRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                UpdatePricingScheduleResponse:
                  $ref: '#/components/examples/UpdatePricingScheduleResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/UpdatePricingScheduleResponse'
          description: Response for dis/associate price plan request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Dis/associate a plan from/to an account
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{account_id}/edit_schedules:
    post:
      description: This API let’s you to detach/attach one or more price plans from/to
        an existing account
      operationId: updatePricingScheduleBatch
      parameters:
      - content:
          application/json:
            schema:
              example: ACC00001
              maxLength: 50
              type: string
        description: account_id corresponding to an account
        in: path
        name: account_id
        required: true
      requestBody:
        $ref: '#/components/requestBodies/EditPricingScheduleRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                UpdatePricingScheduleResponse:
                  $ref: '#/components/examples/UpdatePricingScheduleResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/UpdatePricingScheduleResponse'
          description: Response for edit pricing schedule request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Edit schedules of an account.
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /accounts/{account_id}/pricing_schedules:
    get:
      description: Returns a list of pricing schedules of an account with pagination
        and sort.
      operationId: getPricingSchedules
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: eyJsYXN0SXRlbUlkIjogInN0cmluZyIsICJwYWdlU2l6ZSI6IDEwMCwgInNvcnRPcmRlciI6ICJhc2MifQ==
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: 10
          type: number
        style: form
      - content:
          application/json:
            schema:
              example: ACC00001
              maxLength: 50
              type: string
        description: account_id corresponding to an account
        in: path
        name: account_id
        required: true
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          example: 2023-03-30T10:41:10.088499
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          example: 2099-03-30T10:41:10.088499
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                PricingSchedulePaginatedResponse:
                  $ref: '#/components/examples/PricingSchedulePaginatedResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/PricingSchedulePaginatedResponse'
          description: Response for list pricing schedules request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List pricing schedules of an account
      tags:
      - Accounts
      x-accepts: application/json
  /event_schema:
    get:
      description: Returns a list of event schema with pagination.
      operationId: listEventSchemas
      parameters:
      - description: Filter by provided status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - ACTIVE
          - INACTIVE
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: eyJsYXN0SXRlbUlkIjogInN0cmluZyIsICJwYWdlU2l6ZSI6IDEwMCwgInNvcnRPcmRlciI6ICJhc2MifQ==
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: 10
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchemaPaginatedResponse:
                  $ref: '#/components/examples/EventSchemaListPaginatedResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/EventSchemaListPaginatedResponse'
          description: Response for list events request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List event schemas
      tags:
      - Event Schemas
      x-accepts: application/json
    post:
      description: Create an event schema with attributes and dimensions to process
        events.
      operationId: createEventSchema
      requestBody:
        $ref: '#/components/requestBodies/CreateEventSchemaRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                EventSchema:
                  $ref: '#/components/examples/EventSchema'
                  value: null
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Response for Create and Get event schema requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Create an event schema
      tags:
      - Event Schemas
      x-content-type: application/json
      x-accepts: application/json
  /event_schema/{event_schema_name}:
    delete:
      description: "To delete(archive) an event schema, you’re required to archive\
        \ associated active usage meters if any."
      operationId: deleteEventSchema
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        in: path
        name: event_schema_name
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Delete an event schema
      tags:
      - Event Schemas
      x-accepts: application/json
    get:
      description: Get an event schema
      operationId: getEventSchema
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        in: path
        name: event_schema_name
        required: true
      - content:
          application/json:
            schema:
              example: 2
              format: int32
              type: integer
        description: Optional version to get a specific version. Gets latest version
          if it is not provided.
        in: query
        name: version
        required: false
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchema:
                  $ref: '#/components/examples/EventSchema'
                  value: null
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Response for Create and Get event schema requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Get an event schema
      tags:
      - Event Schemas
      x-accepts: application/json
    patch:
      description: |
        Update an event schema and add new attributes and dimensions

        Once an event schema is activated, you cannot update or delete existing attributes and dimensions however you can add new attributes and dimensions and update event schema description.
            operationId: updateEventSchema
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        in: path
        name: event_schema_name
        required: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventSchemaRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchema:
                  $ref: '#/components/examples/EventSchema'
                  value: null
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Response for Create and Get event schema requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Update an event schema
      tags:
      - Event Schemas
      x-content-type: application/json
      x-accepts: application/json
  /event_schema/{event_schema_name}/versions:
    get:
      description: Get a list of all the versions of an event schema
      operationId: listEventSchemaVersions
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        in: path
        name: event_schema_name
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchemaVersionsResponse:
                  $ref: '#/components/examples/EventSchemaVersionsResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/EventSchemaVersionsResponse'
          description: Response for list event schema versions request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List all event schema versions
      tags:
      - Event Schemas
      x-accepts: application/json
  /event_schema/{event_schema_name}/activate:
    post:
      description: Activate an event schema
      operationId: activateEventSchema
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        in: path
        name: event_schema_name
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchema:
                  $ref: '#/components/examples/EventSchema'
                  value: null
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Response for Create and Get event schema requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Activate an event schema
      tags:
      - Event Schemas
      x-accepts: application/json
  /event_schema/{event_schema_name}/deactivate:
    post:
      description: |
        You can deactivate an event schema using this API. In case you have an activate usage meter associated with the event schema, you will need to deactivate it first and then try deactivating the event schema.
      operationId: deactivateEventSchema
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        in: path
        name: event_schema_name
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchema:
                  $ref: '#/components/examples/EventSchema'
                  value: null
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Response for Create and Get event schema requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Deactivate an event schema
      tags:
      - Event Schemas
      x-accepts: application/json
  /usage_meters:
    get:
      description: Get a list of usage meters associated with an event schema
      operationId: getUsageMetersForEventSchema
      parameters:
      - description: |
          Filter by status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - ACTIVE
          - INACTIVE
          type: string
        style: form
      - description: |
          Filter by aggregations
        explode: true
        in: query
        name: aggregations
        required: false
        schema:
          enum:
          - COUNT
          - SUM
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: eyJsYXN0SXRlbUlkIjogInN0cmluZyIsICJwYWdlU2l6ZSI6IDEwMCwgInNvcnRPcmRlciI6ICJhc2MifQ==
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: 10
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                UsageMeterPaginatedResponse:
                  $ref: '#/components/examples/UsageMeterPaginatedResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/UsageMeterPaginatedResponse'
          description: Response for list usage_meters request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List usage meters for event schema
      tags:
      - Usage Meters
      x-accepts: application/json
    post:
      description: Create an usage meter and associate with an event schema
      operationId: createUsageMeter
      requestBody:
        $ref: '#/components/requestBodies/CreateUsageMeterRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/UsageMeter'
                  value: null
              schema:
                $ref: '#/components/schemas/UsageMeter'
          description: Response for Create and Get usage event requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Create an usage meter
      tags:
      - Usage Meters
      x-content-type: application/json
      x-accepts: application/json
  /usage_meters/{usage_meter_id}:
    delete:
      description: Delete an Usage Meter
      operationId: deleteUsageMeter
      parameters:
      - content:
          application/json:
            schema:
              example: um.1zYnCiM9Bpg.1zYn
              maxLength: 50
              type: string
        in: path
        name: usage_meter_id
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Delete an Usage Meter
      tags:
      - Usage Meters
      x-accepts: application/json
    get:
      description: Get an usage meter using event schema name and usage meter id.
      operationId: getUsageMeter
      parameters:
      - content:
          application/json:
            schema:
              example: um.1zYnCiM9Bpg.1zYn
              maxLength: 50
              type: string
        in: path
        name: usage_meter_id
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/UsageMeter'
                  value: null
              schema:
                $ref: '#/components/schemas/UsageMeter'
          description: Response for Create and Get usage event requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Get usage meter
      tags:
      - Usage Meters
      x-accepts: application/json
    patch:
      description: This API lets you update an existing usage meter.
      operationId: updateUsageMeter
      parameters:
      - content:
          application/json:
            schema:
              example: um.1zYnCiM9Bpg.1zYn
              maxLength: 50
              type: string
        in: path
        name: usage_meter_id
        required: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateUsageMeterRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/UsageMeter'
                  value: null
              schema:
                $ref: '#/components/schemas/UsageMeter'
          description: Response for Create and Get usage event requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Update an usage meter
      tags:
      - Usage Meters
      x-content-type: application/json
      x-accepts: application/json
  /usage_meters/{usage_meter_id}/activate:
    post:
      description: Activate usage meter
      operationId: activateUsageMeter
      parameters:
      - content:
          application/json:
            schema:
              example: um.1zYnCiM9Bpg.1zYn
              maxLength: 50
              type: string
        in: path
        name: usage_meter_id
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/UsageMeter'
                  value: null
              schema:
                $ref: '#/components/schemas/UsageMeter'
          description: Response for Create and Get usage event requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Activate usage meter
      tags:
      - Usage Meters
      x-accepts: application/json
  /usage_meters/{usage_meter_id}/deactivate:
    post:
      description: |
        Make an existing active usage meter to be inactive
        Active Usage Meters with active Pricing Plan attached can also be deactivated.
      operationId: deactivateUsageMeter
      parameters:
      - content:
          application/json:
            schema:
              example: um.1zYnCiM9Bpg.1zYn
              maxLength: 50
              type: string
        in: path
        name: usage_meter_id
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/UsageMeter'
                  value: null
              schema:
                $ref: '#/components/schemas/UsageMeter'
          description: Response for Create and Get usage event requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Deactivate usage meter
      tags:
      - Usage Meters
      x-accepts: application/json
  /price_plans:
    get:
      description: Get a list of price plans
      operationId: getPricePlans
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: eyJsYXN0SXRlbUlkIjogInN0cmluZyIsICJwYWdlU2l6ZSI6IDEwMCwgInNvcnRPcmRlciI6ICJhc2MifQ==
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: 10
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                PricePlanPaginatedResponse:
                  $ref: '#/components/examples/PricePlanPaginatedResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/PricePlanPaginatedResponse'
          description: Response for list price plans request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List price plans
      tags:
      - Price Plans
      x-accepts: application/json
    post:
      description: |
        This API let's you create and price plan
        Learn more about [Price Plans](https://docs.togai.com/docs/priceplan)
      operationId: createPricePlan
      requestBody:
        $ref: '#/components/requestBodies/CreatePricePlanRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                PricePlanResponse:
                  $ref: '#/components/examples/PricePlan'
                  value: null
              schema:
                $ref: '#/components/schemas/PricePlan'
          description: Response for Create and Get price plan requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Create a price plan
      tags:
      - Price Plans
[...]
