openapi: 3.0.3
info:
  contact:
    email: engg@togai.com
  description: APIs for Togai App
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Togai Apis
  version: 1.0.0
externalDocs:
  description: Find out more about Togai
  url: https://docs.togai.com/docs
servers:
- description: Sandbox server
  url: https://sandbox-api.togai.com/
security:
- bearerAuth: []
tags:
- description: Customer level calls
  name: customers
- description: Account level calls
  name: accounts
- description: Event level calls
  name: events
- name: usage_meters
- name: price_plans
- description: APIs for getting events ingested in Togai
  externalDocs:
    description: docs
    url: https://togai.com/docs/billing/events
  name: Event Management
- description: APIs for getting Togai metrics
  externalDocs:
    description: docs
    url: https://togai.com/docs/metrics
  name: Metrics
paths:
  /customers:
    get:
      description: List customers with pagination and sort
      operationId: getCustomers
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: eyJsYXN0SXRlbUlkIjogInN0cmluZyIsICJwYWdlU2l6ZSI6IDEyMywgInNvcnRPcmRlciI6ICJhc2MifQ==
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: "10"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                CustomerPaginatedResponse:
                  $ref: '#/components/examples/CustomerPaginatedResponse'
              schema:
                $ref: '#/components/schemas/CustomerPaginatedResponse'
          description: Response for list customers request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List customers
      tags:
      - customers
      x-accepts: application/json
    post:
      description: Create a customer and a default account corresponding to it
      operationId: createCustomer
      requestBody:
        $ref: '#/components/requestBodies/CreateCustomerRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                CreateCustomerResponse:
                  $ref: '#/components/examples/CreateCustomerResponse'
              schema:
                $ref: '#/components/schemas/CreateCustomerResponse'
          description: Response for Create customer request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Create a customer
      tags:
      - customers
      x-content-type: application/json
      x-accepts: application/json
  /customers/{customer_id}:
    delete:
      description: Delete a customer by id
      operationId: deleteCustomer
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        explode: false
        in: path
        name: customer_id
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Delete a customer
      tags:
      - customers
      x-accepts: application/json
    get:
      description: Get a customer by id
      operationId: getCustomer
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        explode: false
        in: path
        name: customer_id
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Customer'
              schema:
                $ref: '#/components/schemas/Customer'
          description: Response for Get customer requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Get a customer
      tags:
      - customers
      x-accepts: application/json
    patch:
      description: Update a customer by id
      operationId: updateCustomer
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        explode: false
        in: path
        name: customer_id
        required: true
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateCustomerRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Customer'
              schema:
                $ref: '#/components/schemas/Customer'
          description: Response for Get customer requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Update a customer
      tags:
      - customers
      x-content-type: application/json
      x-accepts: application/json
  /customers/{customer_id}/accounts:
    get:
      description: List accounts with pagination and sort
      operationId: getAccounts
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: eyJsYXN0SXRlbUlkIjogInN0cmluZyIsICJwYWdlU2l6ZSI6IDEyMywgInNvcnRPcmRlciI6ICJhc2MifQ==
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: "10"
          type: string
        style: form
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        explode: false
        in: path
        name: customer_id
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                AccountPaginatedResponse:
                  $ref: '#/components/examples/AccountPaginatedResponse'
              schema:
                $ref: '#/components/schemas/AccountPaginatedResponse'
          description: Response for list customers request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List accounts of customer
      tags:
      - accounts
      x-accepts: application/json
    post:
      description: Create an account
      operationId: createAccount
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        explode: false
        in: path
        name: customer_id
        required: true
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateAccountRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Account'
              schema:
                $ref: '#/components/schemas/Account'
          description: Response for Create and Get account requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Create an account
      tags:
      - accounts
      x-content-type: application/json
      x-accepts: application/json
  /customers/{customer_id}/accounts/{account_id}:
    delete:
      description: Delete an account by id
      operationId: deleteAccount
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        explode: false
        in: path
        name: customer_id
        required: true
        style: simple
      - content:
          application/json:
            schema:
              example: G234DZZKBKACATFFGVGEMERFH
              maxLength: 50
              type: string
        explode: false
        in: path
        name: account_id
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Delete an account
      tags:
      - accounts
      x-accepts: application/json
    get:
      description: Get an account
      operationId: getAccount
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        explode: false
        in: path
        name: customer_id
        required: true
        style: simple
      - content:
          application/json:
            schema:
              example: G234DZZKBKACATFFGVGEMERFH
              maxLength: 50
              type: string
        explode: false
        in: path
        name: account_id
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Account'
              schema:
                $ref: '#/components/schemas/Account'
          description: Response for Create and Get account requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Get an account
      tags:
      - accounts
      x-accepts: application/json
    patch:
      description: Update an account by id
      operationId: updateAccount
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        explode: false
        in: path
        name: customer_id
        required: true
        style: simple
      - content:
          application/json:
            schema:
              example: G234DZZKBKACATFFGVGEMERFH
              maxLength: 50
              type: string
        explode: false
        in: path
        name: account_id
        required: true
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateAccountRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Account'
              schema:
                $ref: '#/components/schemas/Account'
          description: Response for Create and Get account requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Update an account
      tags:
      - accounts
      x-content-type: application/json
      x-accepts: application/json
  /customers/{customer_id}/accounts/{account_id}/add_aliases:
    post:
      description: Add Aliases to an account by id
      operationId: addAliases
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        explode: false
        in: path
        name: customer_id
        required: true
        style: simple
      - content:
          application/json:
            schema:
              example: G234DZZKBKACATFFGVGEMERFH
              maxLength: 50
              type: string
        explode: false
        in: path
        name: account_id
        required: true
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AddAccountAliasesRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Account'
              schema:
                $ref: '#/components/schemas/Account'
          description: Response for Create and Get account requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Add Aliases to account
      tags:
      - accounts
      x-content-type: application/json
      x-accepts: application/json
  /customers/{customer_id}/accounts/{account_id}/remove_aliases:
    post:
      description: Remove Aliases to an account by id
      operationId: removeAliases
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        explode: false
        in: path
        name: customer_id
        required: true
        style: simple
      - content:
          application/json:
            schema:
              example: G234DZZKBKACATFFGVGEMERFH
              maxLength: 50
              type: string
        explode: false
        in: path
        name: account_id
        required: true
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/RemoveAccountAliasesRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/Account'
              schema:
                $ref: '#/components/schemas/Account'
          description: Response for Create and Get account requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Remove Aliases to account
      tags:
      - accounts
      x-content-type: application/json
      x-accepts: application/json
  /customers/{customer_id}/accounts/{account_id}/price_plans:
    post:
      description: Associate a plan to an account
      operationId: associatePricePlan
      parameters:
      - content:
          application/json:
            schema:
              example: 01BX5ZZKBKACTAV9WEVGEMMVRZ
              maxLength: 50
              type: string
        explode: false
        in: path
        name: customer_id
        required: true
        style: simple
      - content:
          application/json:
            schema:
              example: G234DZZKBKACATFFGVGEMERFH
              maxLength: 50
              type: string
        explode: false
        in: path
        name: account_id
        required: true
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AssociatePricePlanRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                AssociatePricePlanResponse:
                  $ref: '#/components/examples/AssociatePricePlanResponse'
              schema:
                $ref: '#/components/schemas/AssociatePricePlanResponse'
          description: Response for associate price plan request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Associate a plan to an account
      tags:
      - accounts
      x-content-type: application/json
      x-accepts: application/json
  /event_schema:
    get:
      description: List event schemas with pagination and sort
      operationId: listEventSchemas
      parameters:
      - description: Filter by provided statuses
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: eyJsYXN0SXRlbUlkIjogInN0cmluZyIsICJwYWdlU2l6ZSI6IDEyMywgInNvcnRPcmRlciI6ICJhc2MifQ==
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: "10"
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          enum:
          - ASC
          - DESC
          example: ASC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchemaPaginatedResponse:
                  $ref: '#/components/examples/EventSchemaListPaginatedResponse'
              schema:
                $ref: '#/components/schemas/EventSchemaListPaginatedResponse'
          description: Response for list events request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List event schemas
      tags:
      - events
      x-accepts: application/json
    post:
      description: Create an event schema
      operationId: createEventSchema
      requestBody:
        $ref: '#/components/requestBodies/CreateEventSchemaRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                EventSchema:
                  $ref: '#/components/examples/EventSchema'
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Response for Create and Get event schema requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Create an event schema
      tags:
      - events
      x-content-type: application/json
      x-accepts: application/json
  /event_schema/{event_schema_name}:
    delete:
      description: Delete an event schema
      operationId: deleteEventSchema
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Delete an event schema
      tags:
      - events
      x-accepts: application/json
    get:
      description: Get an event schema
      operationId: getEventSchema
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      - content:
          application/json:
            schema:
              example: 2
              format: int32
              type: integer
        description: Optional version to get a specific version. Gets latest version
          if it is not provided.
        explode: true
        in: query
        name: version
        required: false
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchema:
                  $ref: '#/components/examples/EventSchema'
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Response for Create and Get event schema requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Get an event schema
      tags:
      - events
      x-accepts: application/json
    patch:
      description: Update an event schema
      operationId: updateEventSchema
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventSchemaRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchema:
                  $ref: '#/components/examples/EventSchema'
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Response for Create and Get event schema requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Update an event schema
      tags:
      - events
      x-content-type: application/json
      x-accepts: application/json
  /event_schema/{event_schema_name}/versions:
    get:
      description: List all event schema versions
      operationId: listEventSchemaVersions
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchemaVersionsResponse:
                  $ref: '#/components/examples/EventSchemaVersionsResponse'
              schema:
                $ref: '#/components/schemas/EventSchemaVersionsResponse'
          description: Response for list event schema versions request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List all event schema versions
      tags:
      - events
      x-accepts: application/json
  /event_schema/{event_schema_name}/activate:
    post:
      description: Activate an event schema
      operationId: activateEventSchema
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchema:
                  $ref: '#/components/examples/EventSchema'
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Response for Create and Get event schema requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Activate an event schema
      tags:
      - events
      x-accepts: application/json
  /event_schema/{event_schema_name}/deactivate:
    post:
      description: Deactivate an event schema
      operationId: deactivateEventSchema
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                EventSchema:
                  $ref: '#/components/examples/EventSchema'
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Response for Create and Get event schema requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Deactivate an event schema
      tags:
      - events
      x-accepts: application/json
  /event_schema/{event_schema_name}/usage_meters:
    get:
      description: List usage meters for event schema with pagination and sort
      operationId: getUsageMetersForEventSchema
      parameters:
      - description: Filter by provided statuses
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          type: string
        style: form
      - description: Filter by provided aggregations
        explode: true
        in: query
        name: aggregations
        required: false
        schema:
          type: string
        style: form
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: eyJsYXN0SXRlbUlkIjogInN0cmluZyIsICJwYWdlU2l6ZSI6IDEyMywgInNvcnRPcmRlciI6ICJhc2MifQ==
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: "10"
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          enum:
          - ASC
          - DESC
          example: ASC
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                UsageMeterPaginatedResponse:
                  $ref: '#/components/examples/UsageMeterPaginatedResponse'
              schema:
                $ref: '#/components/schemas/UsageMeterPaginatedResponse'
          description: Response for list usage_meters request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List usage meters for event schema
      tags:
      - usage_meters
      x-accepts: application/json
    post:
      description: Create an usage meter
      operationId: createUsageMeter
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateUsageMeterRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/UsageMeter'
              schema:
                $ref: '#/components/schemas/UsageMeter'
          description: Response for Create and Get usage event requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Create an usage meter
      tags:
      - usage_meters
      x-content-type: application/json
      x-accepts: application/json
  /event_schema/{event_schema_name}/usage_meters/{usage_meter_name}:
    get:
      description: Get usage meter
      operationId: getUsageMeter
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: usage_meter_name
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/UsageMeter'
              schema:
                $ref: '#/components/schemas/UsageMeter'
          description: Response for Create and Get usage event requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Get usage meter
      tags:
      - usage_meters
      x-accepts: application/json
    patch:
      description: Update an usage meter
      operationId: updateUsageMeter
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: usage_meter_name
        required: true
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateUsageMeterRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/UsageMeter'
              schema:
                $ref: '#/components/schemas/UsageMeter'
          description: Response for Create and Get usage event requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Update an usage meter
      tags:
      - usage_meters
      x-content-type: application/json
      x-accepts: application/json
  /event_schema/{event_schema_name}/usage_meters/{usage_meter_name}/activate:
    post:
      description: Activate usage meter
      operationId: activateUsageMeter
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: usage_meter_name
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/UsageMeter'
              schema:
                $ref: '#/components/schemas/UsageMeter'
          description: Response for Create and Get usage event requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Activate usage meter
      tags:
      - usage_meters
      x-accepts: application/json
  /event_schema/{event_schema_name}/usage_meters/{usage_meter_name}/deactivate:
    post:
      description: Deactivate usage meter
      operationId: deactivateUsageMeter
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: event_schema_name
        required: true
        style: simple
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: usage_meter_name
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/UsageMeter'
              schema:
                $ref: '#/components/schemas/UsageMeter'
          description: Response for Create and Get usage event requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Deactivate usage meter
      tags:
      - usage_meters
      x-accepts: application/json
  /usage_meter/{usage_meter_name}:
    delete:
      description: Delete an Usage Meter
      operationId: deleteUsageMeter
      parameters:
      - content:
          application/json:
            schema:
              example: rides
              maxLength: 50
              type: string
        explode: false
        in: path
        name: usage_meter_name
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseSuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Delete an Usage Meter
      tags:
      - usage_meters
      x-accepts: application/json
  /price_plans:
    get:
      description: List price plans with pagination and sort
      operationId: getPricePlans
      parameters:
      - explode: true
        in: query
        name: nextToken
        required: false
        schema:
          example: eyJsYXN0SXRlbUlkIjogInN0cmluZyIsICJwYWdlU2l6ZSI6IDEyMywgInNvcnRPcmRlciI6ICJhc2MifQ==
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: "10"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                PricePlanPaginatedResponse:
                  $ref: '#/components/examples/PricePlanPaginatedResponse'
              schema:
                $ref: '#/components/schemas/PricePlanPaginatedResponse'
          description: Response for list price plans request
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: List price plans
      tags:
      - price_plans
      x-accepts: application/json
    post:
      description: Create a price plan
      operationId: createPricePlan
      requestBody:
        $ref: '#/components/requestBodies/CreatePricePlanRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/PricePlan'
              schema:
                $ref: '#/components/schemas/PricePlan'
          description: Response for Create and Get price plan requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Create a price plan
      tags:
      - price_plans
      x-content-type: application/json
      x-accepts: application/json
  /price_plans/{price_plan_name}:
    get:
      description: Get a price plan
      operationId: getPricePlan
      parameters:
      - content:
          application/json:
            schema:
              example: Rides - pro plan
              maxLength: 50
              type: string
        explode: false
        in: path
        name: price_plan_name
        required: true
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/PricePlan'
              schema:
                $ref: '#/components/schemas/PricePlan'
          description: Response for Create and Get price plan requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "404":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "429":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        default:
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
      summary: Get a price plan
      tags:
      - price_plans
      x-accepts: application/json
    patch:
      description: Update a price plan
      operationId: updatePricePlan
      parameters:
      - content:
          application/json:
            schema:
              example: Rides - pro plan
              maxLength: 50
              type: string
        explode: false
        in: path
        name: price_plan_name
        required: true
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdatePricePlanRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customer:
                  $ref: '#/components/examples/PricePlan'
              schema:
                $ref: '#/components/schemas/PricePlan'
          description: Response for Create and Get price plan requests
        "400":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "401":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response
        "403":
          content:
            application/json:
              examples:
                ErrorResponse:
                  summary: Error message
                  value:
                    message: <Reason message>
              schema:
[...]
